[Background]
Color=$fundo

[BackgroundFaint]
Color=49,54,59
Color=$fundo_opaco

[BackgroundIntense]
Color=$fundo_intenso

# Preto
[Color0]
Color=$preto

[Color0Faint]
Color=$preto_opaco

[Color0Intense]
Color=$preto_intenso

# Vermelho
[Color1]
Color=$vermelho

[Color1Faint]
Color=$vermelho_opaco

[Color1Intense]
Color=$vermelho_intenso

# Verde
[Color2]
Color=$verde

[Color2Faint]
Color=$verde_opaco

[Color2Intense]
Color=$verde_intenso

# Amarelo
[Color3]
Color=$amarelo

[Color3Faint]
Color=$amarelo_opaco

[Color3Intense]
Color=$amarelo_intenso

# Azul
[Color4]
Color=$azul

[Color4Faint]
Color=$azul_opaco

[Color4Intense]
Color=$azul_intenso

# Magenta
[Color5]
Color=$magenta

[Color5Faint]
Color=$magenta_opaco

[Color5Intense]
Color=$magenta_intenso

# Cianuro
[Color6]
Color=$cianuro

[Color6Faint]
Color=$cianuro_opaco

[Color6Intense]
Color=$cianuro_intenso

# Branco
[Color7]
Color=$branco

[Color7Faint]
Color=$branco_opaco

[Color7Intense]
Color=$branco_intenso

[Foreground]
Color=$letra

[ForegroundFaint]
Color=$letra_opaco

[ForegroundIntense]
Color=$letra_intenso

[General]
Anchor=0.5,0.5
Blur=true
ColorRandomization=false
Description=Garbo
FillStyle=Tile
Opacity=0.75
Wallpaper=
WallpaperFlipType=NoFlip
WallpaperOpacity=1
